<p>
  <b>Name:</b>
  <%=h @offlearn.name %>
</p>

<p>
  <b>Contents:</b>
  <%=h @offlearn.contents %>
</p>


<%= link_to 'Edit', edit_offlearn_path(@offlearn) %> |
<%= link_to 'Back', offlearns_path %>
