<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Offlearns: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'scaffold' %>
	
	<!-- Dojo基本ファイル -->
	<script type="text/javascript" src="/dojo/dojo/dojo.js"></script>
	<link rel="stylesheet" type="text/css" href="/dojo/dojo/resources/dojo.css"/>
	
	<!-- Dojo offlineファイル-->
	<script type="text/javascript" src="/dojo/dojox/off/offline.js"></script>
	<link rel="stylesheet" type="text/css" href="/dojo/dojox/off/resources/offline-widget.css"/>
	
	<script type="text/javascript">
		dojox.off.ui.appName = "rireki";
		
		dojox.off.initialize();
		
		//dojox.sql
		dojo.require("dojox.sql");
		dojo.require("dojo.io.script")
		
		//dojox.sql("drop table module_log");
		dojox.sql("create table if not exists module_log(created_on date, ent_module_id text)");
		
		function loadServer(){
			dojo.io.script.get({
				url: "http://192.168.31.128:3000/api/getLogJson/1/10",
				handleAs: "json",
				preventCache: true,
				callbackParamName: "callback",
				load: function(data){
					saveDB(data);
					loadDB(data);
					//showOutput(data);
				}
			});
		};
		
		function saveDB(data){
			dojo.forEach(data, function(value){
				dojox.sql("insert into module_log values(datetime(?,'unixepoch','localtime'), ?)",value.created_on, value.ent_module_id);
			});
			
		}
		
		function addDB(){
			dojox.sql("insert into module_log values(datetime('now','localtime'), ?)", '573');
		}
		function loadDB(){
			var res = dojox.sql("select * from module_log order by created_on");
			
			var messageHTML = "<table>";
			//for(var i=0;i<res.length;i++){
			dojo.forEach(res, function(value){
				messageHTML += "<tr><td>" + value.created_on + "</td><td>" + value.ent_module_id + "</td><tr>";
			});
			messageHTML += "</table>";
			
			dojo.byId("message").innerHTML = messageHTML;
		}
		function deleteDB(){
			dojox.sql("drop table module_log");
			dojo.byId("message").innerHTML = "";
		}
/*		
		function load(){
			var res = dojox.sql("select * from message");
			
			var messageHTML = "<table>";
			//for(var i=0;i<res.length;i++){
			dojo.forEach(res, function(value){
				messageHTML += "<tr><td>" + value.name + "</td><td>" + value.content + "</td><tr>";
			});
			messageHTML += "</table>";
			
			document.getElementById("message").innerHTML = messageHTML;
		}
*/		
	</script>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
